@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/metricas.css);
@import url(styles//vagas/talentos.css);
@import url(styles/vagas/vagasabertas.css);
@import url(styles/depoimentos.css);
@import url(styles/rodape.css);

:root {
    --cinza500: #667085;
    --vermelho-escuro: #8E2424;
    --branco: #FFFFFF;
    --fonte-principal: "Inter";
    --azul: #101828;
}

body {
    background: var(--branco);
    color: var(--cinza500);
    font-weight: 400;
    font-family: "Inter";
    font-size: 16px;
}