.container__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
    gap: 1.5em;
}
.conteudo__texto{
    color: var(--vermelho-escuro);
    font-weight: 600;
}
.conteudo__titulo{
    font-size: 48px;
    color: var(--azul);
    font-weight: 700;
}
.conteudo__paragrafo{
    font-size: 20px;
    line-height: 1.5;
}
.lista__informacoes{
    display: flex;
    padding: 0 6em 6em 6em;
    justify-content: center;
}
.informacoes__item{
   display: flex;
   flex-direction: column;
    padding-right: 2em;
    width: 17.5em;
}
.informacoes__titulo{
    color: var(--vermelho-escuro);
    font-size: 60px;
    font-weight: 600;
}
.informacoes__subtitulo{
    color: var(--azul);
    font-size: 18px;
    padding: 1em 0;
}
